.contact {
    background-image: url("https://img.freepik.com/free-photo/contact-helpdesk-customer-service-spaceship-graphic-concept_53876-125032.jpg?w=2000&t=st=1677390241~exp=1677390841~hmac=f5d652ee62a2be68cec07e6de235cc84e3a204e57445fd89e0b191718c92a9e5");
    height: 100vh;
    padding-top: 1px;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center center;
   
}

